* {
    margin: 0;
    padding: 0;

}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f5f5f5;
}

.App-header h1 {
    margin: 0;
}

.App-header nav a {
    text-decoration: none;
    margin-right: 20px;
    color: #333;
}

.hero {
    padding: 40px;
    text-align: center;
}

.hero h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 40px;
}

.hero button {
    background-color: #75a5d9;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.stat {
    text-align: center;
}

.stat h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.stat p {
    font-size: 1.2em;
    line-height: 1.5;
}

.find-doctor {
    /* styles for the main container */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.find-doctor h2 {
    /* styles for the heading */
    text-align: center;
    margin-bottom: 20px;
}

.search-bar {
    /* styles for the search bar container */
    display: flex;
    width: 80%;
    margin-bottom: 20px;
}

.search-bar input {
    /* styles for the search input field */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
}

.doctors-list {
    /* styles for the list of doctors */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.doctor-card {
    /* styles for each doctor card */
    background-color: blanchedalmond;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.doctor-card:hover {
    /* styles for doctor card on hover */
    transform: scale(1.22);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.doctor-card h3 {
    /* styles for doctor name */
    margin-bottom: 5px;
}

.doctor-card p {
    /* styles for doctor speciality */
    margin: 0;
    color: #aaa;
}

.fotodoctores {
    height: 350px;
    width: 350px;
}

.doctors-grid {
    display: flex;
}

.doctor-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;


}

.doctor-details img {
    width: 500px;

}

.doctor-details a {
    color: #007bff;
    /* Color del texto */
    text-decoration: none;
    /* Quitar subrayado */
    transition: color 0.3s;
    /* Transición suave del color al pasar el ratón */
}

a:hover {
    color: #0056b3;
    /* Nuevo color al pasar el ratón */
}