/* Services.css */

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 60px; /* Añade espacio para el navbar */
}

.services-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.service-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
    width: 250px; /* Ajusta el ancho de las tarjetas */
    height: 200px; /* Ajusta la altura de las tarjetas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.service-card-description {
    font-size: 16px;
    color: #666;
}
